.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
    background: none;
}

.navbar {
    width: 90% !important;
    margin: auto;
    margin-top: 2%;
    /* margin-left: 5% !important;
    margin-top: 2% !important;
    position: absolute !important;
     */
}

.navbarBrand {
    font-size: 2rem;
    padding: 1rem;
    cursor: context-menu;
}

.navbar > .container, .navbar > .container-fluid {
    flex-wrap: nowrap !important;
}

.wrapper {
    text-align: center;
    
}

.fa-google {
    color:#3cba54;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.fa-facebook-square {
    color: #3b5998;
    font-size: 3rem;
}

.logIn {
    font-size: 1.5rem;
    cursor: pointer;
}

.mainAppDiv {
    transition: opacity 100ms;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
