.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}


.App-intro {
    font-size: large;
}

body {
    background: none;
}

.navbar {
    height: 4vh;
    width: 100vw;
    z-index: 3;
    position: relative;
}

.navbar-nav {
    background: white;
    padding: 1rem;
}

.dropdown {
    z-index: 2;
    position: relative;
}

.vertical-nav {
    height: 100%;
    width: 10vw;
    z-index: 1;
    position: relative;
    float: right;
    text-align: center;
}

#verticalNav {
    flex-direction: column;
}

.navbarBrand {
    font-size: 2rem;
    padding: 1rem;
    cursor: context-menu;
}

/* .navbar>.container,
.navbar>.container-fluid {
    flex-wrap: nowrap !important;
} */

.wrapper {
    text-align: center;
}

.fa-google {
    color: #3cba54;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.fa-facebook-square {
    color: #3b5998;
    font-size: 3rem;
}

.logIn {
    font-size: 1.5rem;
    cursor: pointer;
}

.mainAppDiv {
    transition: opacity 100ms;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.listing {
	width: 100%;
	height: 40px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #ADD8E6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.small {
    float: left;
    width: 16.66%;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="submit"],
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.img-fluid {
    width: 100%;
    height: 250px;
}

.card-inverse {
    width: 300px;
    color: white;
    vertical-align: bottom;
    margin: 0;
}

.card-img {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.card-title {
    margin: 0;
    font-size: 2.5rem;
}

.Pane {
    overflow-y: scroll;
}

#listing-card {
    padding: 0;
    bottom: 0;
    left: 0;
    margin-top: 95px;
    vertical-align: bottom;
}

.zip {
    height: 50%;
    width: 50%;
    margin-top: 10px;
}

.nav-item {
    width: 120px;
    margin-top: 10px;
}

.card-text {
    font-size: 1.5rem
}

.listing-modal {
    font-size: 150%;
}
.addListing {
  margin: 18px;
}


#description { 
  height: 127px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chatbox {
  background: white;
  padding: 25px;
  margin : 20px auto;
  /* box-shadow: 0 3px #ccc; */
}

.chatlogs {
    padding: 10px;
    width: 100%;
    margin-bottom: 3rem;
    height: 450px; 
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #fff;
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat .user-photo {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
}

.chat .chat-message {
  width: 30rem;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.message-container {
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
}

.friend .chat-message {
  background: #D3D3D3;
  color: black;
}

.self .chat-message {
  background: #89cff0;
  order: -1;
}

.chat-form  {
  /* margin-top: 20px; */
  /* display: flex; */
  /* align-items: flex-start; */
  background: white;
  border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
}

.chat-form textarea {
  background: gray;
  width: 75%;
  /* height: 50px; */
  border: 2px solid black;
  border-radius: 3px;
  /* resize: none; */
  /* padding: 10px; */
  font-size: 18px;
  color: black;
}

.chat-form textarea:focus {
  background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

.chat-form .mini {
  height: 100px;
}

.chat-form button {
  background: #89cff0;
  /* padding: 5px 15px; */
  font-size: 30px;
  color: #fff;
  border: none;
  margin: 1%;
  width: 22%;
  /* margin: 0 10px; */
  border-radius: 3px;
  box-shadow: 1.5px 3px 0px white;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -i-transition: background .2s ease;
}

.chat-form button:hover {
  background: gray;
}

 .chatButton {
} 