.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

body {
    background: none;
}

.navbar {
    height: 6vh;
    width: 100vw;
    z-index: 2;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .navbar {
        height: 8vh;
        width: 100vw;
        z-index: 2;
        position: relative;
    }
}

.navbar-nav {
    background: white;
    padding: 1rem;
}

.dropdown {
    z-index: 2;
    position: relative;
}

.dropleft {
    z-index: 2;
}

.vertical-nav {
    height: 100%;
    width: 10vw;
    z-index: 3;
    position: relative;
    float: right;
    text-align: center;
}

#verticalNav {
    flex-direction: column;
}

.navbarBrand {
    font-size: 2rem;
    padding: 1rem;
    cursor: context-menu;
    float: left;
}


/* .navbar>.container,
.navbar>.container-fluid {
flex-wrap: nowrap !important;
} */

.wrapper {
    text-align: center;
}

.fa-google {
    color: #3cba54;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.fa-facebook-square {
    color: #3b5998;
    font-size: 3rem;
}

.logIn {
    font-size: 1.5rem;
    cursor: pointer;
}

.mainAppDiv {
    transition: opacity 100ms;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.listing {
    width: 95%;
    height: 3vh;
    padding: 1vh 1.5vh;
    margin: 2vh 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ADD8E6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.column {
    float: left;
    width: 50%;
    padding: 3vh;
}

.small {
    float: left;
    width: 16.66%;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="submit"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.img-fluid {
    width: 100%;
    height: 250px;
}

.card-inverse {
    width: 300px;
    color: white;
    vertical-align: bottom;
    margin: 0;
}

.card-img {
    width: 100%;
    height: 175px;
    overflow: hidden;
    cursor: pointer;
}

.card-img-overlay {
    cursor: pointer;
}

.card-title {
    margin: 0;
    font-size: 2.5rem;
    color: #1E90FF
}

.Pane {
    overflow-y: scroll;
}

#listing-card {
    padding: 0;
    bottom: 0;
    left: 0;
    margin-top: 95px;
    vertical-align: bottom;
}

.zip {
    height: 50%;
    width: 50%;
    margin-top: 10px;
}

.nav-item {
    width: 120px;
    margin-top: 10px;
}

.card-text {
    font-size: 1.5rem
}

.listing-modal {
    font-size: 150%;
}

.addListing {
    margin: 18px;
    z-index: inherit;
}

#description {
    height: 117px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chatbox {
    background: white;
    padding: 25px;
    margin: 20px auto;
    /* box-shadow: 0 3px #ccc; */
}

.chatlogs {
    padding: 10px;
    width: 100%;
    margin-bottom: 3rem;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    /*Keep?*/
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    /*Keep?*/
    border-radius: 5px;
    background: #fff;
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
    max-width: 85vw;
    max-height: 85vh;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img {
    width: 100%;
}

.chat .chat-message {
    width: 70%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.message-container {
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
}

.friend .chat-message {
    background: #D3D3D3;
    color: black;
}

.self .chat-message {
    background: #89cff0;
    order: -1;
}

.chat-form {
    /* margin-top: 20px; */
    /* display: flex; */
    /* align-items: flex-start; */
    background: white;
    border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
}

.chat-form textarea {
    background: gray;
    width: 75%;
    /* height: 50px; */
    border: 2px solid black;
    border-radius: 3px;
    /* resize: none; */
    /* padding: 10px; */
    font-size: 18px;
    color: black;
}

.chat-form textarea:focus {
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: gray;
}

.chat-form button {
    background: #89cff0;
    /* padding: 5px 15px; */
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 1%;
    width: 22%;
    /* margin: 0 10px; */
    border-radius: 3px;
    box-shadow: 1.5px 3px 0px white;
    cursor: pointer;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -i-transition: background .2s ease;
}

.chat-form button:hover {
    background: gray;
}

.mini {
    height: 95px;
}

.profileBackground {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/subuw-j420m.appspot.com/o/imgs%2Ftesting2.png?alt=media&token=d4beb4c0-c4f6-4961-bce8-b482b0390cbf");
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.profileCard {
    background: inherit;
    height: auto;
    min-height: 95vh;
    height: 100%;
    width: 95vw;
    position: relative;
    border-radius: 2px;
    margin: auto;
    z-index: 0;
    /* cursor: pointer; */
}

@media only screen and (min-width: 768px) {
    .profileCard {
        background: inherit;
        height: auto;
        min-height: 95vh;
        height: 100%;
        width: 50vw;
        position: relative;
        border-radius: 2px;
        margin: auto;
        z-index: 0;
    }
}

.profileCard:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, .1);
    pointer-events: none;
}

.profileCard:before {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    left: 0;
    left position right: 0;
    top: 1vh;
    top position bottom: 0;
    box-shadow: inset 0 0 0 50vw rgba(255, 255, 255, 0.05);
    filter: blur(12px);
}

.editProfile {
    display: table;
    margin: 0 auto;
    padding: 3vh;
    height: 100%;
    z-index: 2;
    text-align: center;
    font-size: 1.5vh;
}

.profile-img {
    height: 100%;
    width: 100%;
}

.editListings {
    display: table;
    margin: 0 auto;
    padding: 3vh;
    margin: auto;
    z-index: 2;
}

#editListingCard {
    padding: 2vh;
}

#listingHeader {
    z-index: initial;
    color: white;
}

.container {
    display: flex;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 3vw;
}

.card-item {
    flex: 0 0 250px;
    background-color: white;
    padding: .5vh;
    margin: auto;
    margin-top: 2vh;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-shadow: 01px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.submitButton {
    margin: auto;
    padding: 3vh;
    text-align: center;
    width: 100%;
}

.selector {
    margin: 1vh;
}

.startPageBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/subuw-j420m.appspot.com/o/imgs%2Ftesting2.png?alt=media&token=d4beb4c0-c4f6-4961-bce8-b482b0390cbf");
    height: 100vh;
    background-position: 0;
    background-size: cover;
    background-repeat: none;
    z-index: -1;
}

.search-input {
    width: 100%;
    height: 100%;
    padding-top: 20vh;
    text-align: center;
}

h2 {
    color: black;
}

.submitButton {
    width: auto;
    height: auto;
    padding: 3vh;
    text-align: center;
    font-size: 2.5vh;
}

.about {
    margin-top: 3vh;
    font-size: 2vh;
    text-align: center;
}

.aboutHeader {
    width: 90vw;
    padding: 2vh;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .aboutHeader {
        width: 100%;
        padding: 2vh;
        margin: auto;
    }
}

.aboutContainer {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}