.card-inverse {
    width: 300px;
    color: white;
    text-align: bottom;
    margin: 0;
}

.card-img {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.card-title {
    margin: 0;
}

.Pane {
    overflow-y: scroll;
}

#listing-card {
    padding: 0;
    bottom: 0;
    left: 0;
    margin-top: 95px;
    vertical-align: bottom;
}

.zip {
    height: 50%;
    width: 50%;
    margin-top: 10px;
}

.nav-item {
    width: 120px;
    margin-top: 10px;
}